/* POEM PAGE */

.poem-page{

background: linear-gradient(135deg,#ffd1dc,#ffe6f0);

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:40px;

font-family: 'Poppins', sans-serif;

}

.poem-container{

background:white;

max-width:650px;
width:90%;

padding:50px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,0.15);

text-align:center;

max-height:80vh;
overflow-y:auto;

}

.poem-container h1{

font-size:45px;

color:#ff4d6d;

margin-bottom:30px;

}

.poem-text p{

font-size:20px;

line-height:1.8;

margin:5px 0;

color:#444;

}

.nextBtn{

margin-top:30px;

padding:12px 28px;

border:none;

border-radius:30px;

background:#ff4d6d;

color:white;

font-size:16px;

cursor:pointer;

transition:0.3s;

}

.nextBtn:hover{

transform:scale(1.1);

background:#ff1f4b;

}
